.job__button{

    font-family: Inter;
    background-color:  #FF8577; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px; /* Скругление углов */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 5px 10px 0 rgba(0,0,0,0.19); /* Тень */

}

.job__button_blue{
    background-color: #699BF7;
}

.job__button:hover {
    background-color: #45a049; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); /* Большая тень */
    transform: scale(1.05); /* Немного увеличивается */
  }